@{
    ViewBag.Title = "About Us";
}
@{
    var totalYears = (DateTime.Today - new DateTime(2004, 1, 1)).TotalDays / 365.2425;

}
@Html.Partial("_ProductTypes")


<section class="ftco-section ftco-no-pb" id="aboutMeBanner">
    <div class="container" style="padding-top:2em;">


        <div class="row" >
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <img src="../../content/images/bannerimg3.jpg" alt="Jewelry Case" style="height: auto; width: 100%;"/>
            </div>
        </div>
        <div class="d-flex justify-content-center" >
            <img src="~/Content/images/TheLuminaryLogoBlk.png" alt="The Luminary logo" />
        </div>
        <p class="text-center">Since 2004</p>
        <div class="row" style="padding-bottom:2em;">
            <div class="col-md-12 wrap-about pl-md-5 ftco-animate py-5">
                <a href="@Url.Action("Index","Home")">
                </a>
                <div class="heading-section">
                    <p class="year text-center">
                        <strong class="number" data-number=@totalYears>0</strong>
                        <span>Years in business and counting.</span>
                    </p>

                    <h2 class="text-center mb-4">Welcome</h2>
                    <p class="text-center">We are The Luminary, a grass roots store and pioneers of style. We offer highest quality materials and focus on function and fashion. Let our pieces bring out the best side of your inner reflection.</p>
                    <h2 class="text-center mb-4">Made For You</h2>
                    <p class="text-center">With our selection, choose among some of the biggest styles from Plugs, Tunnels, and Clickers --- to Hangers, Earrings, and Stacks. </p>
                    <h2 class="text-center mb-4">No Coincidence</h2>
                    <p class="text-center"> It's no coincidence you chose us. Something led you to us, and we are here for you. We have been brought together and we are here to tell you, you belong.</p>
                </div>
            </div>
        </div>

    </div>

</section>