<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="EmailClient" value="mail.jordanhickman.com" />
  <!--the setting above defines the mail server-->
  <add key="EmailUser" value="admin@jordanhickman.com" />
  <!--Email that exists on your hosting account defined above.-->
  <add key="EmailPass" value="Admin@123456" />
  <!--This is the pass word for the val defined in EmailUser-->
  <add key="EmailTo" value="jdhickman816@outlook.com" />
  <!--The email address above is where form submissions should be sent to.-->
  <add key="owin:AppStartup" value="StoreFront6.UI.MVC.Startup,StoreFront6.UI.MVC" />
</appSettings>

<!--Copy and paste appSettings from WebConfig here, change the keys to the above. Change the values to the above.-->