<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StoreFront6.UI.MVC-20210426083859.mdf;Initial Catalog=aspnet-StoreFront6.UI.MVC-20210426083859;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=Store_Front;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>