@using Microsoft.AspNet.Identity
@using StoreFront6.DATA.EF <!--Added to access userdetails-->


@if (Request.IsAuthenticated)
{
    StoreFrontEntities db = new StoreFrontEntities();
    string userID = User.Identity.GetUserId();//captured UserID in string, got it from ASPNET.Identity.
    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();//we are now casting the first matching ID into a new UserDetail obj. The ASP table User ID will be the value of the User ID of this new currentUser.

    //We will also need to account for if there is no matching record.
    string userFN = "Guest";
    string favColor = "#cccccc";
    //but if it we do get a match, use it to populate the value for the above variables.
    if (currentUser != null)
    {
        userFN = currentUser.FirstName;
        favColor = currentUser.FavoriteColor;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()

        <li class="" id="logout">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="fa fa-chevron-right mr-2"> Log off</a>
        </li>
    }
}
else
{
        <li class="">
            
                @Html.ActionLink(" Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "fa fa-chevron-right mr-2" })
        </li>
        <li class="">
           
            @Html.ActionLink(" Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "fa fa-chevron-right mr-2" })
        </li>
}
