@{
    ViewBag.Title = "ERROR: Database Offline";
}

<h2 class="text-warning text-center">@ViewBag.Title</h2>
<p class="alert alert-warning text-center">
    The database this application uses is currently unavailable. Please contact site administrator or try again later.
</p>

