
@{
    ViewBag.Title = "Error: You have found our Junior Developer's Error Page!";
}


<div class="">
    <h3 class="text-center"><br />@ViewBag.Title<br /><br /></h3>
    <div class="">
        <img class="center customError" src="~/Content/images/CodeDog.jpg" alt="Error" />
        <p class="center text-center"><br />After much food and occasional nap, our junior developer will find the time to get code work completed. This error will be fixed in a dog year. <br />Coding is Ruff Business.<br /><br />@Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-primary " })</p>
       
    </div>      
</div>

